<a href="https://colab.research.google.com/github/Jamesceus/Sales-predictions/blob/main/Project1pt2SalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
 sales_df = pd.read_csv('/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/Week 2: Pandas/Data/sales_predictions.csv')
 sales_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [4]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
sales_df.shape

In [ ]:
sales_df.dtypes

In [ ]:
sales_df.duplicated().any()

In [ ]:
#Grabbing the value/'weight' of the column and summing up
sales_df[['Item_Weight']].value_counts()

In [ ]:
sales_df['Item_Weight'].mean()

In [ ]:
sales_df['Item_Fat_Content'].value_counts()

In [8]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['Regualr'],'Regular')

In [9]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['reg'],'Regular')

In [10]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['LF'],'Low Fat')

In [11]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['low fat'],'Low Fat')

In [22]:
sales_df['Item_Fat_Content'].head(10)

0    Low Fat
1    Regular
2    Low Fat
3    Regular
4    Low Fat
5    Regular
6    Regular
7    Low Fat
8    Regular
9    Regular
Name: Item_Fat_Content, dtype: object

In [13]:
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
sales_df['Outlet_Size']

In [ ]:
sales_df['Outlet_Size'].value_counts()

In [ ]:
sales_df= sales_df.fillna('Unknown')
sales_df['Outlet_Size']

In [34]:
sales_df

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15         9.3  ...  Supermarket Type1          3735.1380
1              DRC01        5.92  ...  Supermarket Type2           443.4228
2              FDN15        17.5  ...  Supermarket Type1          2097.2700
3              FDX07        19.2  ...      Grocery Store           732.3800
4              NCD19        8.93  ...  Supermarket Type1           994.7052
...              ...         ...  ...                ...                ...
8518           FDF22       6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.38  ...  Supermarket Type1           549.2850
8520           NCJ29        10.6  ...  Supermarket Type1          1193.1136
8521           FDN46        7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.8  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]