<a href="https://colab.research.google.com/github/Jamesceus/Sales-predictions/blob/main/Project1pt2SalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
 sales_df = pd.read_csv('/content/drive/MyDrive/PTDataScience/CD Practice/Week 2: (Pandas) Python for Data Manipulation/Data/sales_predictions.csv')
 sales_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [4]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
sales_df.shape

(8523, 12)

In [6]:
sales_df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
sales_df.duplicated().any()

False

In [8]:
#Grabbing the value/'weight' of the column and summing up
sales_df[['Item_Weight']].value_counts()

Item_Weight
12.150         86
17.600         82
13.650         77
11.800         76
15.100         68
               ..
7.275           2
6.520           1
7.685           1
9.420           1
5.400           1
Length: 415, dtype: int64

In [9]:
sales_df['Item_Weight'].mean()

12.857645184136183

In [10]:
sales_df['Item_Weight'].min()

4.555

In [11]:
sales_df['Item_Weight'].max()

21.35

In [12]:
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [13]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['Regualr'],'Regular')

In [14]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['reg'],'Regular')

In [15]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['LF'],'Low Fat')

In [16]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['low fat'],'Low Fat')

In [17]:
sales_df['Item_Fat_Content'].head(10)

0    Low Fat
1    Regular
2    Low Fat
3    Regular
4    Low Fat
5    Regular
6    Regular
7    Low Fat
8    Regular
9    Regular
Name: Item_Fat_Content, dtype: object

In [18]:
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [19]:
sales_df['Outlet_Size']

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [20]:
sales_df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [21]:
sales_df= sales_df.fillna('Unknown')
sales_df['Outlet_Size']

0        Medium
1        Medium
2        Medium
3       Unknown
4          High
         ...
8518       High
8519    Unknown
8520      Small
8521     Medium
8522      Small
Name: Outlet_Size, Length: 8523, dtype: object

In [22]:
sales_df

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15         9.3  ...  Supermarket Type1          3735.1380
1              DRC01        5.92  ...  Supermarket Type2           443.4228
2              FDN15        17.5  ...  Supermarket Type1          2097.2700
3              FDX07        19.2  ...      Grocery Store           732.3800
4              NCD19        8.93  ...  Supermarket Type1           994.7052
...              ...         ...  ...                ...                ...
8518           FDF22       6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.38  ...  Supermarket Type1           549.2850
8520           NCJ29        10.6  ...  Supermarket Type1          1193.1136
8521           FDN46        7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.8  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

larger distribution of fruits and vegatables than canned goods.
theres a larger distribution of frozen foods

In [23]:
sales_df.shape

(8523, 12)

In [24]:
sales_df

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15         9.3  ...  Supermarket Type1          3735.1380
1              DRC01        5.92  ...  Supermarket Type2           443.4228
2              FDN15        17.5  ...  Supermarket Type1          2097.2700
3              FDX07        19.2  ...      Grocery Store           732.3800
4              NCD19        8.93  ...  Supermarket Type1           994.7052
...              ...         ...  ...                ...                ...
8518           FDF22       6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.38  ...  Supermarket Type1           549.2850
8520           NCJ29        10.6  ...  Supermarket Type1          1193.1136
8521           FDN46        7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.8  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [25]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   object
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 799.2+ KB